[submodule "test/zoo/ThrowTheSwitch.Unity"]
	path = test/zoo/ThrowTheSwitch.Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "test/zoo/thinnect.node-platform"]
	path = test/zoo/thinnect.node-platform
	url = https://github.com/thinnect/node-platform.git
